@import "../../styles/referents/all";

.family-lines {
    margin-top: 50px;
    h2 {
        text-align: center;
    }
    ul {
        @include resetUl;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
    }
    li {
        display: block;
        margin: 1.5rem 0;

        @include media-breakpoint-down(xs) {
            text-align: left;
        }
    }
}