html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: $weight-normal;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--size-base);
  line-height: 1.3;
  margin: 0;
  background: #fffac8;  
}

* {
  box-sizing: border-box;
}

.secondary, 
.checkout-button, 
.button.checkout, 
.button.alt {
  background-color: $color-purple;
}

input[type=email], 
input[type=date], 
input[type=search], 
input[type=number], 
input[type=text], 
input[type=tel], input[type=url], 
input[type=password], textarea, select, .select-resize-ghost, .select2-container .select2-choice, .select2-container .select2-selection {
  box-shadow: none;
}

.col,
.container {
  padding: 0 $container-padding-x;
}

a {
  opacity: 1;
  color: inherit;
  transition: $transition;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

h1 {
  @extend %heading-1;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

b, strong {
  font-weight: $weight-bold;
}

.icon {
  @extend %icon;
}

.section {
  margin-top: 8rem;

  &-title {
    font-weight: $weight-semibold;
    font-size: var(--size-3);
    margin-top: 0;
  }
}

.img-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;

  &::before {
    margin-top: 63%;
    content: '';
    display: block;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(14,35,50,.03);
  }

  a {
    display: block;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: 5;
  }
}

.page-content {
  margin-top: 8rem;
}

#Hic {
  opacity: 0;
  visibility: hidden;
  width: 20px;
  margin: auto;
}