.grid {
    display: grid;
    grid-gap: 2rem;
    grid-auto-rows: auto;
}

.col-1 {
    grid-template-columns: repeat(1, 1fr);
}
.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.col-5 {
    grid-template-columns: repeat(5, 1fr);
}
.col-6 {
    grid-template-columns: repeat(6, 1fr);
}
.col-7 {
    grid-template-columns: repeat(7, 1fr);
}
.col-8 {
    grid-template-columns: repeat(8, 1fr);
}
.col-9 {
    grid-template-columns: repeat(9, 1fr);
}
.col-10 {
    grid-template-columns: repeat(10, 1fr);
}
.col-11 {
    grid-template-columns: repeat(11, 1fr);
}
.col-12 {
    grid-template-columns: repeat(12, 1fr);
}

.col-span-2 { grid-column: span 2; }
.col-span-3 { grid-column: span 3; }
.col-span-4 { grid-column: span 4; }
.col-span-5 { grid-column: span 5; }
.col-span-6 { grid-column: span 6; }
.col-span-7 { grid-column: span 7; }
.col-span-8 { grid-column: span 8; }
.col-span-9 { grid-column: span 9; }
.col-span-10 { grid-column: span 10; }
.col-span-11 { grid-column: span 11; }