@import '../../styles/referents/all';

.footer {
  background: $color-black;
  margin-top: 10rem;
  color: $color-white;
  padding: 3rem 0 3rem var(--slot);
  width: 100%;

  @include media-breakpoint-down(xs) {
    padding-left: var(--slot);
  }

  // > div {
  //   margin: initial;
  // }

  &--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--bottom {
    padding: 2rem 0;
  }
}

.quick-links {
  list-style: none; 
  display: flex;
  margin: 0;

  li {
    padding: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  li + li a {
    &::before {
      content: "";
      height: 1.2rem;
      padding-left: 1rem;
      display: inline-flex;
      border-left: 1px solid $color-grey;
    }
  }
}
